@import 'media-queries'
body
    font-family: 'Montserrat', sans-serif
    overflow-x: hidden
header
    top: 10%
    width: 100%
#home-jumbotron
    // background: green
    // background-image: url('https://images.pexels.com/photos/1181438/pexels-photo-1181438.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')
    background-image: url(https://demos.hogash.com/agency-html/images/slide01.jpg)
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    height: 110vh
.overlay
    top: 0
    bottom: 0
    right: 0
    left: 0
    background: rgba(0, 0, 0, 0.25)
.jumbotron-description
    z-index: 1
    h1
        font-size: 4rem
        font-weight: 700
.custom-button
    padding: 1rem 3rem
    border: solid 2px
    &.light
        color: white
        border-color: white
    &.dark
        color: black
        border-color: black
#home-intro
    margin-top: -60px
    position: relative
    // border: 1px solid black
.salmon-gradient
    padding: 4rem
    background: linear-gradient(to right, salmon, #E91E63)
    // +lg
    //     background: blue

    // fottos
.Ecolor-text
    color: rgba(245, 245, 245, 0.5 )
.Esize
    font-size: 3rem
    font-weight: 700
.Esize2
    font-size: 1.2rem
    line-height: 3rem
    // font-weight: 400
    color: rgba(245, 245, 245, 0.7 )
.Elinea
    border-right: 1px solid 
    border-color: rgba(86, 86, 86, .3)
    min-height: 100px
.Ecolor-text2
    color: #AAAAAA
    font-size: .8rem
.Emargin
    margin-bottom: 7rem

// Section comments
.triangle
   border-left: 100vw solid transparent
   border-bottom: 8vw solid hsl(0, 0%, 97%)
.comments
    background-color: hsl(0, 0%, 97%)
    color: hsl(0, 0%, 34%)
.support-div
    padding: 50px 10px 50px 10px
.thoughts
    font-weight: 700
    margin: 10 0 20
    font-size: 15px
    color: hsla(0, 0%, 4%, 0.4)
.what
    font-size: 34px
    color: black
    margin: 20px 0px 50px 0px
    font-weight: 700
.support-h6
    color: black
    font-weight: 700
.div-image1,.div-image2
    margin-top: 2rem
.div-image3
    margin-bottom: 2rem
.border
    background-color: white
    border: none
.container-clients
    padding: 100px
    border-top: 1px solid
    border-color: hsl(0, 0%, 94%)
#border
    border: none
.blog
    background-color:white
    color: hsl(0, 0%, 34%);
.image
    border-radius: 50%
    margin: 0 14.5px 0 0
    width: 60px
.size-image
    width: 370px; height: 200px;
.news
    font-weight: 700
    margin: 10 0 20
    font-size: 15px
    color: hsla(0, 0%, 4%, 0.4)
.latest-articles
    font-size: 34px
    color: black
    margin: 20px 0px 50px 0px
    font-weight: 700;
.button-read
    width: 100px
    height: 30px
    color: white
    background-color: hsl(358, 68%, 50%)
    font-size: 12px
    border: none
    border-radius: 2%
    margin-top: -40px
    margin-left: -10px
#label1
    font-size: 11px
    margin: 10px 0px 0px
    text-align: left
    min-width: auto
    margin-left: -20px
.special-span
    color: black
    font-weight: 500
.special-h5
    color: black
    font-weight: 700
    line-height: 23px
    margin-left: -20px

// parte negra
.bg-negro
    background: hsl(0, 0%, 8%)
    padding-top: 7rem
    padding-bottom: 7rem
.Eicono
    font-size: 3.2rem
// .Eicono p
//     font-size: 1rem
.h-negro
    font-size: .8rem
    font-weight: bold
.h-negro2
    font-size: 2.2rem
.p1
    font-size: 1rem

.p2
    font-size: 1rem
    line-height: 2rem
// penultimo
.EsizePenultimo
    font-weight: bold
    font-size: 2em
.bgPenultimo
    background-color: #f8f8f8
    padding-top: 10rem
    padding-bottom: 10rem
// ultimo
.bgUltimo
    background-color: hsl(0, 0%, 8%)
    color: hsl(0, 0%, 34%)
.bgUltimo2
    background-color: hsl(0, 0%, 10%)
.EsizeUltimo
    font-size: .90rem
.EsizeUltimo2
    font-size: 21px
    span
        padding: 1rem
.pultimo
    padding-top: 8rem
    padding-bottom: 5rem
.EcolorUltimo
    color: #AAAAAA


// contact

#fondoContact
    background-image: url('https://demos.hogash.com/agency-html/images/hero_04.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
.contact
    padding-top: 10rem
    padding-bottom: 10rem
    z-index: 10
    background-color: white
    margin-top: -50px
    clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 100%)
.U-colorGradient
    background: linear-gradient(to right, salmon, #E91E63)
.contact-padding
    padding-top: 5rem
    padding-bottom: 5rem
.contactG-h
    color: rgba(255, 255, 255, 0.69)
.contact-h
    color: #AAAAAA
.contactG-h, .contact-h
    font-size: .8rem
    line-height: 3rem
.contact-p
    font-size: 1.3rem
    line-height: 1rem
.bs
    -webkit-box-shadow: 0px 34px 76px 4px rgba(221,159,237,1)
    -moz-box-shadow: 0px 34px 76px 4px rgba(221,159,237,1)
    box-shadow: 0px 34px 76px 4px rgba(221,159,237,1)
// form
.esquina
    border-radius: 0
.contact-size
    font-size: .8rem
    padding-top: 1rem
    padding-bottom: 1rem
    font-weight: 500
    color: #858585
    height: auto
.plus-size
    height: 50rem
.h-budget
    position: absolute
    font-weight: 600
    color: #858585
    font-size: .6rem
    top: 13px
    left: 25px
.p-budget
    font-size: .7rem
    color: black
    font-weight: 500
    padding-top: 30px
    height: auto
.static
    position: relative
.btn-budget
    color: black
    font-weight: bold
    border: 2px solid black
    border-radius: 0
    font-size: .9rem